.btn {
  display: inline-block;
  width: 100%;
  background-color: @white;
  color: @red;
  font-size: 14px;
  text-align: center;
  border: 2px solid @red;
  border-radius: 3px;
  padding: 14px 10px;
  .tr();
  .helvetica_medium();
  &:hover {
    background-color: @red;
    color: @white;
  }
  @media screen and (min-width: @big_phone) {
    font-size: 20px;
    line-height: 38px;
    padding: 18px 10px;
    border-width: 3px;
  }
  @media screen and (min-width: @tablet) {
    font-size: 19px;
    line-height: 1;
    padding: 18px 10px;
    border-width: 2px;
  }
}

.category-big {
  position: relative;
  padding: 20px 17px 17px 17px;
  background-color: @white;
  @media screen and (min-width: @big_phone) {
    padding: 38px 34px 43px 34px;
  }
  @media screen and (min-width: @desktop) {
    height: 100%;
  }
  &__red a{
    display: none;
    background: #d63430;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    border: none;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    padding: 3px 23px;
    margin-bottom: 80px;
    @media screen and (min-width: @desktop) {
      display: inline-block;
    }
  }
  &__name {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    color: @gray;
    @media screen and (min-width: @big_phone) {
      font-size: 30px;
      margin-bottom: 33px;
    }
    @media screen and (min-width: @tablet) {
      margin-bottom: 53px;
    }
    @media screen and (min-width: @desktop) {
      margin-bottom: 11px;
    }
  }
  &__content {
    font-size: 0;
    line-height: 0;
    margin-bottom: 20px;
    @media screen and (min-width: @big_phone) {
      margin-bottom: 42px;
    }
    @media screen and (min-width: @tablet) {
      margin-bottom: 0;
    }
    @media screen and (min-width: @desktop) {
      display: table;
      width: 100%;
    }
  }
  &__img {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50%;
    @media screen and (min-width: @desktop) {
      display: table-cell;
      width: 50%;
    }

    img {
      max-width: 100%;
      max-height: 92px;
      @media screen and (min-width: @big_phone) {
        max-height: 184px;
      }
      @media screen and (min-width: @tablet) {
        max-height: 266px;
      }
    }
    .img__wrap {
      @media screen and (min-width: @desktop) {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
    color: @black;
    @media screen and (min-width: @big_phone) {
      font-size: 20px;
      line-height: 26px;
    }
    @media screen and (min-width: @tablet) {
      font-size: 18px;
      padding-left: 50px;
      padding-bottom: 110px;
    }
    @media screen and (min-width: @desktop) {
      display: table-cell;
      width: 50%;
      padding-left: 0;
      padding-bottom: 0;
    }
    a {
      display: none;
      @media screen and (min-width: @desktop) {
        display: inline-block;
      }
    }
    p {
      @media screen and (min-width: @tablet) {
        margin-bottom: 26px;
      }
      &.tablet {
        display: none;
        @media screen and (min-width: @tablet) {
          display: block;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__details {
    @media screen and (min-width: @big_phone) {
      padding: 0 5px;
    }
    @media screen and (min-width: @tablet) {
      position: absolute;
      bottom: 39px;
      right: 35px;
      width: 50%;
      padding-left: 81px;
    }
    @media screen and (min-width: @desktop) {
      display: none;
    }

  }


}

.category-small {
  position: relative;
  background-color: @white;
  padding: 20px 17px 17px 17px;
  @media screen and (min-width: @big_phone) {
    padding: 38px 34px 33px 34px;
  }
  @media screen and (min-width: @tablet) {
    padding-bottom: 92px;
  }
  @media screen and (min-width: @desktop) {
    padding: 17px 19px 20px;
  }
  &__red a{
    display: none;
    background: #d63430;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    padding: 3px 23px;
    @media screen and (min-width: @desktop) {
      display: inline-block;
    }
  }
  &__name {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    color: @gray;
    order: 1;
    @media screen and (min-width: @big_phone) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: @tablet) {
      margin-bottom: 21px;
    }
    @media screen and (min-width: @desktop) {
      font-size: 22px;
      margin-bottom: 11px;
    }
  }
  &__content {
    position: relative;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: @big_phone) {
      display: block;
      flex-direction: none;
      padding-left: 185px;
    }
    @media screen and (min-width: @tablet) {
      padding-left: 0;
    }
    @media screen and (min-width: @desktop) {
      position: relative;
      padding-left: 140px;
      margin-bottom: 0;
    }
  }
  &__img {
    display: none;
    @media screen and (min-width: @desktop) {
      display: block;
      padding: 0 10px;
      height: 162px !important;
      text-align: center;
      width: 162px;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
      max-height: 162px;
    }
    .img__wrap {
      @media screen and (min-width: @desktop) {
        width: 162px;
        height: 162px;
        display: table-cell;
        vertical-align: middle;
      }

    }
  }
  &__price {
    order: 3;
    display: block;
    font-size: 14px;
    line-height: 20px;
    @media screen and (min-width: @big_phone) {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 185px;
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: @tablet) {
      position: static;
      margin-bottom: 28px;
    }
    @media screen and (min-width: @desktop) {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
    }
    span {
      display: block;
      color: @gray_light3;
      &.price {
        .helvetica_medium();
        color: @red;
        font-size: 21px;
        @media screen and (min-width: @big_phone) {
          font-size: 30px;
        }
      }
    }
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    color: @black;
    margin-bottom: 20px;
    @media screen and (min-width: @big_phone) {
      display: block;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
    }
    @media screen and (min-width: @desktop) {
      display: none;
    }
  }
  &__details {
    @media screen and (min-width: @tablet) {
      position: absolute;
      bottom: 33px;
      left: 34px;
      right: 34px;
    }
    @media screen and (min-width: @desktop) {
      display: none;
    }
  }
}